body {
    background-color: black;
    color: white;
}

.gameScores {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.window {
    display: inherit;
    padding: 10rem;
    background-color: white;
    color: black;
    font-size:inherit
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

.button, img {
    max-width: 15rem;
    border: 0;
}

.result {
    display: flex;
    justify-content: center;
}