* {
    background-color: black;
    color: white;
    width: 100%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex: 1;
}

.button {
    display: inherit;
    height: 200px;
    width: 200px;
}

.result {
    display: flex;
    justify-content: center;
    flex: auto;
}